VITE_API_URL=http://localhost:5000/api

git init

git status

git add .


git commit -m "Initial commit"

git remote add origin https://github.com/IT24100987/WMTLABTEST.git

git branch -M main
git push -u origin main







